<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <div class="panel panel-default panel-table">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col col-xs-6">
                            <h3 class="panel-title">Panel Heading</h3>
                        </div>
                        <div class="col col-xs-6 text-right">
                            <!-- <button type="button" class="btn btn-sm btn-primary btn-create">Create New</button> -->
                            <button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Create New</button>                            
                            
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-striped table-bordered table-list">
                        <thead>
                            <tr>
                                <th class="hidden-xs hiden">Student ID</th>                                
                                <th>Name</th>
                                <th>Year</th>
                                <th>Address</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody> 
                            <tr *ngFor="let c of listContent?.content">                                                          
                                <td class="hidden-xs hiden" style="display:none">{{c?.id}}</td>
                                <td>{{c?.name}}</td>
                                <td>{{c?.year}}</td>
                                <td>{{c?.address}}</td>
                                <th>
                                    <button data-toggle="modal" data-target="#squarespaceModal" (click)="loadEditData(c)">Edit</button>
                                    <button (click)="deleteStudent2(c.id)">Delete</button>
                                </th>
                            </tr>                            

                        </tbody>
                    </table>

                </div>
<!-- modal add -->
<!-- line modal -->
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">    
    <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
              <h3 class="modal-title" id="lineModalLabel">My Modal</h3>
          </div>
          <div class="modal-body">
              
              <!-- content goes here -->
        <form>
          <div class="form-group">
            <label >Name</label>
            <input [(ngModel)]="student.name" name="name" type="text" class="form-control" id="name" placeholder="Type Name">
          </div>
          <div class="form-group">
            <label>Year</label>
            <!-- <input type="number" class="form-control" id="year" placeholder="Type year Join"> -->
            <input [(ngModel)]="student.year" name="year" class="form-control" id="year" placeholder="input year">
          </div>
          <div class="form-group">
            <label >Address</label>
            <input [(ngModel)]="student.address" name="address" type="text" class="form-control" id="address" placeholder="Type Address">
          </div>
          
        </form>
  
          </div>
          <div class="modal-footer">
              <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                  <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                  </div>
                  <div class="btn-group" role="group">
                      <button type="submit" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button" (click)="saveOrUpdateStudent2(student)" data-dismiss="modal">Save</button>
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>
     <!-- end modal            -->

            </div>  
        </div>
    </div>
</div>

