<p>
  second-detail works!
</p>

<app-second (selector)="selectorSecond($event)"></app-second>

<div *ngIf="contentSelector">
  you are select {{contentSelector.name}}
</div>


<app-content-detail [content]="contentSelector"></app-content-detail>


