<!-- <h1 class="my-4">Shop Name</h1>
<div class="list-group">
  <a routerLink="content/first" class="list-group-item">First</a>
  <a routerLink="content/second" class="list-group-item">Second</a>
  <a routerLink="content/third" class="list-group-item">Third</a>
  <a routerLink="content/sample-paging" class="list-group-item">sample paging</a>
  <a routerLink="transaction/second-detail" class="list-group-item">Second detail</a>
</div> -->

<nav class="bg-white sidebar sidebar-fixed sidebar-offcanvas" id="sidebar">
    <div class="user-info">
        <img src="{{face_image}}" alt="">
        <p class="name">Richard V.Welsh</p>
        <p class="designation">Manager</p>
        <span class="online"></span>
    </div>
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                    <!-- <i class="fa fa-dashboard"></i> -->
                    <img src="{{icon_1}}" alt="">
                    <span class="menu-title">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="content/first" class="nav-link">
                    <img src="{{icon_1}}" alt="">
                    <span class="menu-title">First</span>
                </a>
            </li>

            <li class="nav-item">
                <a routerLink="content/sample-paging" class="nav-link">
                    <img src="{{icon_1}}" alt="">
                    <span class="menu-title">Sample Paging</span>
                </a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <!-- <i class="fa fa-address-book"></i> -->
                    <img src="{{icon_9}}" alt="">
                    <span class="menu-title">Sample Pages<i class="fa fa-sort-down"></i></span>
                </a>
                <div class="collapse" id="collapseExample">
                    <ul class="nav flex-column sub-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="../samples/blank_page.html">
                          Blank Page
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../samples/register.html">
                          Register
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../samples/login.html">
                          Login
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../samples/not-found.html">
                          404
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../samples/error.html">
                          500
                        </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <!-- <i class="fa fa-bold"></i> -->
                    <img src="{{icon_setting}}" alt="">
                    <span class="menu-title">Settings</span>
                </a>
            </li>
            <li class="nav-item">
                <a routerLink="login" class="nav-link">
                    <img src="{{icon_1}}" alt="">
                    <span class="menu-title">Login</span>
                </a>
            </li>
        </ul>
    </nav>