<div class=" container-scroller">
  <!--Navbar-->
  <nav class="navbar bg-primary-gradient col-lg-12 col-12 p-0 fixed-top navbar-inverse d-flex flex-row">
      <div class="bg-white text-center navbar-brand-wrapper">
          <a class="navbar-brand brand-logo" href="#"><img src="{{logo_starblack_image}}" /></a>
          <a class="navbar-brand brand-logo-mini" href="#"><img src="{{logo_starmini_image}}" alt=""></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center">
            <button class="navbar-toggler navbar-toggler hidden-md-down align-self-center mr-3" type="button" data-toggle="minimize">
              <span class="navbar-toggler-icon"></span>
            </button>
            <app-search></app-search>
            <ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                <li class="nav-item">
                    <a class="nav-link profile-pic" href="#"><img class="rounded-circle" src="{{face_image}}" alt=""></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                </li>
            </ul>
            <app-navigationbar></app-navigationbar>
            
        </div>
  </nav>
  <!--End navbar-->
  <div class="container-fluid">
      <div class="row row-offcanvas row-offcanvas-right">          
          <app-sidebar></app-sidebar>
          <!-- SIDEBAR ENDS -->
          
          <div class="content-wrapper">
            <router-outlet></router-outlet>
          </div>
          <footer class="footer">
              <app-footer></app-footer>
          </footer>
      </div>
  </div>

</div>

